@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:wght@500&display=swap');

/* font-family: 'DM Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: aliceblue;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    position: relative;
    left: 1rem;
    font-size: 2rem;
    color: rgb(232, 230, 230);
    text-decoration: none;
    font-weight: 600;
}
@media only screen and (max-width: 700px){ 
    .logo{
        position: relative;
        top: 0rem;
        left: 2rem;
        float: right;
    }
}
@media only screen and (max-width: 500px){ 
    .logo{
        position: absolute;
        top: 1.2rem;
        left: 5.5rem;
        float: right;
    }
}

.navbar a {
    display: inline-flex;
    font-size: 25px;
    color: rgb(253, 252, 252);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: rgb(251, 58, 177);
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(./software-developer-6521720_640.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10%;
}

.home-content {
    max-width: 600px;
    position: relative;
    top: 40px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    font-size: 20px;
}

.home-content h1:nth-child(2) {
    color: rgb(236, 38, 213);
}
.home-content a:nth-child(7){
    margin-left: 10px;
}

.text{
    color: greenyellow;
}

.home-sci{
    margin-left:5px ;
}
.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 20px 30px 0;
    position: relative;
    top: 70px;
}

.home-sci a:hover {
    background: aqua;
    color: rgb(2, 2, 2);
    box-shadow: 0 0 20px aqua;
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    top: 20px;
    
}
 
.btn-box:hover {
    box-shadow: 0 0 10px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
}

.ham {
    display: none;
    cursor: pointer;
}
.sidebar{
    position: absolute;
}
@media only screen and (max-width: 900px) {
    .navbar {
        display: none;
    }
    .header{
        position: absolute;
    }
    .ham {
        display: inline-flex;
        position: fixed;
        top: 33px;
        left: 30px;
        z-index: 15;
        margin-left: 10px;
    }

    .b1,
    .b2,
    .b3 {
        width: 2rem;
        height: 5px;
        margin-bottom: 3px;
        border-radius: 10px;
        background-color: rgb(238, 238, 242);
    }

    .c1,
    .c2 {
        width: 2rem;
        height: 5px;
        border-radius: 10px;
        background-color: rgb(9, 9, 9);
        position: relative;
        left: 10rem;
    }

    .c1 {
        transform: translateY(0.3rem) rotate(45deg);
    }

    .c2 {
        transform: rotate(-45deg);
    }

    .sidebar {
        position: absolute;
        width: 15rem;
        height: 100%;
        background-color: rgba(221, 226, 229,0.90);
        z-index: 12;
    }

    .sidebargo {
        display: none;
    }

    .navbarSM {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 5rem;
        top: 8rem;
    }

    .navbarSM a {
        margin-bottom: 4rem;
        text-decoration: none;
        font: 200 1.4rem Poppins;
    }
}
/* CONTACT FORM */

.contactform{
    max-width: 600px;
    position: relative;
    top: 20px;
}

.contactform h1{
    margin: 10px 0 50px 0;
    font: 800 3rem Poppins;
    color: greenyellow;
}

.mb-3{
    font-family: 'DM Sans', sans-serif;
    font-size:1.3rem ;
    margin-bottom: 20px;
    color: rgb(229, 90, 85);
}

.contactform input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    display: block;
    width: 20rem;
    color: aliceblue;
}
.form-text{
    font-size: 0.5rem;
    color: aliceblue;
}
#isclient{
    display: inline;
    position: relative;
    left: -140px;
}

button{ 
       padding: 8px 15px;
       border-radius: 10rem;
       border: none;
       background-color: aqua;
       font:200 1rem Poppins;
}

button:hover{
    box-shadow: 0 0 10px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

/*About */
.intro h1{
    color: rgb(230, 44, 152);
    position: relative;
    top: -5rem;
}
.sect{
    width: 40rem;
}
.bold{
    font-size: 1.5rem;
    color: greenyellow;
}

/* Project */
.blogcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 20rem;
}

.proj{
    position: relative;
    top: 7rem;
}
.pro{
    display: flex;
    flex-direction: column;
    min-height:1200px ;
    padding: 30px 10%;
    background: url(./software-developer-6521720_640.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 1095px){ 
    .pro{
        min-height: 120rem;
    }
} 
@media only screen and (max-width: 730px){ 
    .pro{
        min-height: 202rem;
    }
}

.blogitem{
    width: 17rem;
    height: 20rem;
    margin:10px 10px 10px 10px;
    /* border: 2px solid rgba(7, 32, 254, 0.75); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 20px;
}
.blogitem:hover{
    transform: translateY(-10px) scale(1.1);
    transition: all 0.5s;
}
.blogitem h2{
    color: rgb(253, 7, 191);
    padding: 10px;
    -webkit-text-stroke: 2px solid rgb(0, 128, 34);
}
.blogitem p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(37, 252, 4);
    -webkit-text-stroke: 2px solid rgb(128, 51, 0);
    padding: 10px;
}
.blogitem a{
    margin: 10px;
}

.dict{
    background-color: rgb(58, 59, 60);
}
.dict p,h2,a{
    z-index: 1;
}
.dict::after{
    content: "";
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    background: url(./istockphoto-479814132-612x612.webp);
    border-radius: 20px;
    opacity: 0.5;
}

.weat{
    background-color: rgb(52, 54, 56);
}
.weat p,h2,a{
    z-index: 1;
}
.weat::after{
    content: "";
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    opacity: 0.7;
    background: url(./tree-832079_1280.jpg);
    background-position: top;
}

.tic{
    background-color: rgb(104, 112, 119);
}
.tic p,h2,a{
    z-index: 1;
}
.tic::after{
    content: "";
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    background: url(./tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg);
    border-radius: 20px;
    opacity: 0.8;
}

.goal{
    background: url(./business-3695073_640.jpg);
    background-position: center;
}

.para{
    background-color: rgb(48, 50, 53);
}
.para p,h2,a{
    z-index: 1;
}
.para::after{
    content: "";
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    background: url(./milky-way-2695569_1280.jpg);
    border-radius: 20px;
    opacity: 0.6;
}

.count{
    background-color: rgb(18, 18, 19);
}
.count p,h2,a{
    z-index: 1;
}
.count::after{
    content: "";
    width: 17rem;
    height: 20rem;
    overflow: hidden;
    position: absolute;
    background: url(./watercolor-4116932_640.webp);
    background-position: center;
    border-radius: 20px;
    opacity: 0.8;
}

.pass{
    background: url(./premium_photo-1661761031332-26de7264c430.avif);
    background-position: center;
}
.stop{
    background:url(./photo-1687789903381-d2e97615f06a.avif);
}
.digi{
    background: url(./clock-1274699_640.jpg);
    background-position: center;
    
}

.pp {
    background-color: rgb(6, 49, 81);
    /* box-shadow: 0 0 20px black; */
    /* color: black; */
}

/* skills*/
.sk{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.sk h1{
    font: 800 5rem Poppins;
    position: relative;
    top: 1rem;
}
.skill{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
    top: 2rem;
    width: 50rem;
    height: 30rem;
}
.skill::after{
    content: "";
    background-color: rgba(238, 238, 238, 0.54);
    box-shadow: 0 0 20px black,0 0 50px black,0 0 75px black;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.skill section{
    padding: 10px 50px;
}
.barGraph{
    z-index: 10;
}
.barGraph h2{
    position: relative;
    left: 4rem;
    top: 0.8rem;
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 3px; 
}
.info{
    font-size: 1.2rem;
    z-index: 10;
    color: rgb(13, 12, 13);
}
.progress-line {
    width: 15rem;
    height: 6px;
    background-color: black;
    border-radius: 10px;
    position: relative;
}
.progress-line span{
    background-color: aqua;
    position: absolute;
    height: 6px;
    border-radius: 10px;
}
.html span{
    width: 13.5rem;
}
.css span{
    width: 11rem;
}
.javascript span{
    width: 12rem;
}
.cplus span{
    width: 7.5rem;
}

.case{
    padding: 30px;
    z-index: 10;
}

.circleGraph{
    z-index: 10;
}
.circleGraph h2{
    position: relative;
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    left: 3rem;
    top: 0.8rem;
    z-index: 10;
    color: black;
}
.R{
    padding: 25px;
}
.R span{
    font: 500 1.2rem Poppins;
}
.radial{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: -5px;
    position: relative;
    top: 12px;
}

.pBarA{
    stroke-dasharray: 315;
    stroke-linecap :round;
}
.create{
    stroke-dashoffset: 176;
}
.team{
    stroke-dashoffset: 150;
}
.comm{
    stroke-dashoffset: 185;
}
.prob{
    stroke-dashoffset: 165;
}

@media only screen and (max-width: 810px){
    .skill{
        display: grid;
        width: 30rem;
        height: 60rem;
    }
    .home {
        height: 150vh;
    }
}
@media only screen and (max-width: 500px){
    .skill{
        display: grid;
        width: 20rem;
        height: 60rem;
    }
    .home {
        height: 150vh;
    }
    .sk h1 {
        font: 800 4rem Poppins;
    }
}
@media only screen and (max-width: 450px){
    .home {
        min-height: 215vh;
        min-width: 100vh;
    }
    .sk h1 {
        font: 800 3.5rem Poppins;
    }
}